@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');
body{
    font-family: 'Cormorant+Garamond';

}

.container{
    padding-left: 50px;
    padding-right: 50px;
}

.container-fluid{
    padding-left: 50px;
    padding-right: 50px;
}